body {
	font-family:arial, sans-serif;			
}

h1 {
	text-align:center;	
}
table {
	margin-top: 10px;
	position:relative;
	margin:auto;
}
th {
	text-align:left;
	font-size:120%;
	padding:15px 0px 5px;
}

input[type=text] {
	width:120px;	
}

.optionInfo  {
	opacity:.8;
	margin-top: -8px;
	margin-bottom: 8px;
	font-size: 80%;
	position:relative;
	width:230px;	
}

#localGoogleUrl {	
	width:100%;
}
.fullInput {
	padding-left:23px;
}