/*** elements ***/
body {
	font-family: arial, sans-serif;
}

h1 {
	text-align: center;
}

table {
	margin: auto;
	margin-top: 10px;
	position: relative;
}
th {
	font-size: 120%;
	padding: 15px 0px 5px 0px;
	text-align: left;
}

input[type="text"] {
	width: 120px;
}


/*** classes ***/
.optionInfo {
	font-size: 80%;
	margin-bottom: 8px;
	margin-top: -8px;
	opacity: .8;
	position: relative;
	width: 230px;
}

.fullInput {
	padding-left: 23px;
}


/*** ids ***/
#localGoogleUrl {
	width: 100%;
}