body {
	font-family: monospace;
	font-size: 13px;
	margin-top: 12px;
	width: 450px;
}

#links {
	position: absolute;
	top: 5px;
	right: 20px;
	z-index: 999;
	color: blue;
	font-family: Arial;
	background: white;
	border-radius: 5px;
	padding: 4px;
}

#output {
	padding-bottom: 4px;
	overflow: auto;
	height: 415px;
}
#output > div {
	padding-left: 15px;
	line-height: 15px;
	overflow: auto;
	white-space: nowrap;
	cursor: pointer;
	display: table;
}
#output > .output {
	margin-bottom: 10px;
}
#output > .input {
	color: #A0A0A0;
	position: relative;
}
#output > .output > a {
	position: absolute;
	left: 3px;
	opacity: 0;
}
#output > .replace {
	text-decoration: line-through;
}

#input {
	width: 100%;
}
#input > input {
	border: 0;
	border-top: 1px solid #D7D7D7;
	outline: 0;
	font: inherit;
	padding: 2px 0 5px 18px;
	margin: 0;
	height: 23px;
	width: 100%;
	-webkit-box-sizing: border-box;
}
#input > span {
	color: #808080;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

a {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}