body {
	font-family: monospace;
	font-size: 13px;
	margin-top: 12px;
	width: 450px;
}

#links {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	border: 1px solid #B2B2B2;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-left-radius: 5px;
	padding: 3px;
	background-color: white;
	font-family: sans-serif;
}
#links > a {
	text-decoration: none;
}
#links > span {
	margin-left: -2px;
	display: none;
}

#output {
	padding-bottom: 3px;
	overflow: auto;
	height: 400px;
}
#output > div {
	margin: 0 15px;
	line-height: 15px;
	cursor: pointer;
	display: table;
}
#output > .output {
	margin-bottom: 10px;
	position: relative;
}
#output > .output > a {
	position: absolute;
	left: -11px;
	opacity: 0;
}
#output > .input {
	color: #A0A0A0;
}
#output > .replaced {
	text-decoration: line-through;
}

#input {
	width: 100%;
}
#input > input {
	border: 0;
	border-top: 1px solid #B2B2B2;
	outline: 0;
	font: inherit;
	padding: 2px 0 5px 18px;
	margin: 0;
	height: 23px;
	width: 100%;
	-webkit-box-sizing: border-box;
}
#input > span {
	color: #505050;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

a {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}